.footer3{
    background-color: pink;
    font-weight: bolder;
    font-size: x-large;
}
.doglover{
    font-size: medium;
    color: black;
    font-weight: bolder;
    background-color: antiquewhite;
}
h2{
    color:black
}
.dogs{
    background-color:#FFB6C1
}
h1{
    color:black
}
